<IfModule mod_rewrite.c>
    RewriteEngine On
#    RewriteBase /~kiang/xoops/modules/lang_tool/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
